.m_pagination
  ul
    cursor default
    font-size 0
  li
    display inline-block
    vertical-align middle
    margin-left 4px
    margin-right 4px
    a
      min-width 0
      position relative
      margin-right 0