.m_pagination
  ul
    li: a(class="btn ripple" href="#") <
    li: a(class="btn ripple" href="#") 1
    li: a(class="btn ripple" href="#") 2
    li: a(class="btn ripple" href="#") ...
    li: a(class="btn ripple" href="#") 10
    li: a(class="btn ripple" href="#") >